<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>

    <link th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet">

    <style>
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4 col-center-block">
            <form action="/userlogin" method="post">
                <h2>请登录</h2>
                <label for="username" class="sr-only">用户名</label>
                <input type="text" id="username" class="form-control"
                       name="userCode" placeholder="用户名" required autofocus>

                <label for="inputPassword" class="sr-only">密码</label>
                <input type="password" id="inputPassword" class="form-control"
                       name="userPassword" placeholder="密码" required>

                <div class="checkbox">
                    <label> <input type="checkbox" value="remember-me">
                        记住我
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>