<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wzu.lrz.dao.BillMapper">

	<delete id="deleteById" parameterType="Integer">
    delete from smbms_bill where id =#{id}
   </delete>

    <select id="getBillList" resultType="Bill">
		select * from smbms_bill
	</select>

	<select id="getBillListByCodeName" resultType="Bill">
		select * from  smbms_bill
		where billCode like CONCAT('%',#{key},'%') or productName like CONCAT('%',#{key},'%')
	</select>


	<insert id="addBill" parameterType="Bill">
		insert into smbms_bill(billCode,productName,productDesc,productUnit,productCount,totalPrice,isPayment,providerId,createdBy,creationDate)
        values(#{billCode},#{productName},#{productDesc},#{productUnit},#{productCount},#{totalPrice},#{isPayment},#{providerId},#{createdBy},#{creationDate})
	</insert>

	<select id="getBillById" resultType="Bill">
		select * from smbms_bill where id = #{id}
	</select>

	<update id="updateBill"  parameterType="Bill">
		update smbms_bill
		<set>
			<if test="billCode!=null">billCode=#{billCode},</if>
			<if test="productName!=null">productName=#{productName},</if>
			<if test="productDesc!=null">productDesc=#{productDesc},</if>
			<if test="productUnit!=null">productUnit=#{productUnit},</if>
			<if test="productCount!=null">productCount=#{productCount},</if>
			<if test="totalPrice!=null">totalPrice=#{totalPrice},</if>
			<if test="isPayment!=null">isPayment=#{isPayment},</if>
			<if test="providerId!=null">providerId=#{providerId},</if>

		</set>
		where id=#{id}
	</update>


</mapper>